* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --footerBottomBG: #323233;
    --footerTopBG: #b4f4e5;
    --headerBG: rgb(251, 246, 246);
    --charcoal: #323233;
    --seafoam: #b4f4e5;
    --offwhite: rgb(251, 246, 246);
    --accentColor: #ff9615;
    rgba(255, 166, 0, 0.817);
    --white: white;
    font-size: 10px;
}

html {
    display: grid;
    /* todo I messed up the numbers in the temp below so will need to fix it later  */
    grid-template-columns: 18.8%, 18.8%, 18.8%, 18.8%, 18.8%, 18.8%, 18.8%, 18.8%, 18.8%, 18.8%, 18.8%, 18.8%;
    grid-template-rows: 18.8%, 18.8%, 18.8%, 18.8%, 18.8%, 18.8%, 18.8%, 18.8%, 18.8%, 18.8%, 18.8%, 18.8%;
}


/*header*/

header {
    display: grid;
    background-color: var(--white);
    font-size: 1.5rem;
    grid-column: 1 / 12;
    grid-row: 1;
}


/* header unordered list */

header ul {
    list-style: none;
    display: grid;
}


/* logo in the header */

.logo img {
    width: 6rem;
    border-radius: 100%;
}

body {
    display: grid;
    background-color: var(--offwhite);
}


/* -homepage- main container div */

.main {}


/* -online ordering- main container div */

.main-ordering {
    grid-column: 9/10;
    grid-row: border: 1px solid black;
}


/* -online ordering- hyperlink to order pies */

.order {}


/* -online ordering- main picture id */

#tblpies {
    width: 22rem;
    display: grid;
    grid-row: 3 / 5;
    border-radius: 20px;
}


/* -online ordering- order div */

.order a {
    font-size: 4rem;
    /* removed the line below the hyperlink */
    text-decoration: none;
    text-align: center;
    color: var(--accentColor);
}


/* -homepage- about div */

.about {}


/* -homepage- about pic div */

.about.pic img {}


/* -homepage- about div with words */

.about p {}


/* -homepage- events div with words */

.events img {}


/* -homepage- feedback div with pic */

.feedback img {}


/* -hompage- feed back with words */

.feedback p {}


/* footer */

footer {
    background-color: var(--footerTopBG);
    display: grid;
    grid-column: 1 / 12;
    grid-row: 9 / 12;
    font-size: 1.5rem;
}


/* address in the footer  */

.address {}


/* div for the hours in the footer */

.hours {
    list-style: none;
}


/* copyright icon in the footer */

.copyright {
    width: 75%;
    display: flex;
    margin: 1rem auto;
    text-align: center;
}