    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    
     :root {
        --footerBottomBG: #323233;
        --footerTopBG: #b4f4e5;
        --headerBG: rgb(251, 246, 246);
        --charcoal: #323233;
        --seafoam: #b4f4e5;
        --offwhite: rgb(251, 246, 246);
        --white: white;
        --footerBottomBG: #323233;
        --footerTopBG: #b4f4e5;
        --headerBG: rgb(251, 246, 246);
        --accentColor: #ff9615;
        --orange: rgba(255, 166, 0, 0.817);
        font-size: 10px;
    }
    
    html {
        display: grid;
        grid-template-columns: 18.8%, 18.8%, 18.8%, 18.8%, 18.8%, 18.8%, 18.8%, 18.8%, 18.8%, 18.8%, 18.8%, 18.8%;
        grid-template-rows: 18.8%, 18.8%, 18.8%, 18.8%, 18.8%, 18.8%, 18.8%, 18.8%, 18.8%, 18.8%, 18.8%, 18.8%;
    }
    
    // utility class
    .rel {
        position: relative;
    }
    
    .frow {
        display: flex;
        flex-direction: row;
    }
    
    .fcolumn {
        display: flex;
        flex-direction: column;
    }
    /*header*/
    
    header {
        background-color: var(--white);
        font-size: 2rem;
        border: 1px solid black;
        grid-row: 1/2;
        grid-column: 1/12;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* logo in the header */
        .logo {
            .logo img {
                width: 5rem;
                border-radius: 100%;
            }
        }
    }
    
    .nav {
        /* home button */
        .homebtn {
            width: 4rem;
        }
    }
    /* header unordered list */
    
    nav ul {
        list-style: none;
        display: flex;
        flex-direction: row;
    }
    
    body {
        background-color: var(--offwhite);
        width: 100%;
        max-width: 1440px;
        height: 100vh;
        display: grid;
        position: relative;
    }
    /* -homepage= main container */
    /* -homepage- main container heading */
    
    .main h1 {
        font-size: 15rem;
        text-align: center;
        display: flex;
        border: 1px solid black;
    }
    /* -homepage- main-pic container */
    
    .main .main-picture {
        display: grid;
        position: relative;
        grid-column: 4 / 6;
    }
    /* -homepage- main container picture */
    
    .main .main-picture img {
        width: 81rem;
        display: grid;
        grid-column: 10;
        position: relative;
    }
    /* -online ordering- main picture id */
    
    #tblpies {
        width: 28rem;
        display: grid;
        border-radius: 20px;
        grid-column: 4 /8;
    }
    /* -homepage- about div */
    
    .main .about {
        .main .about-pic img {
            width: 28rem;
        }
    }
    /* -homepage- about pic div */
    /* -homepage- about div with words */
    
    .about p {}
    /* -homepage- events div with words */
    
    .events img {}
    /* -homepage- feedback div with pic */
    
    .feedback img {}
    /* feed back with words */
    
    .feedback p {}
    /* footer */
    
    // contact page main header
    .contact-header h1 {
        font-size: 6rem;
    }
    
    footer {
        background-color: var(--footerTopBG);
    }
    /* -online ordering- main picture id */
    
    #tblpies {
        width: 22rem;
        display: grid;
        grid-row: 3 / 5;
        border-radius: 20px;
    }
    /* -online ordering- order div */
    
    .order a {
        font-size: 4rem;
        /* removed the line below the hyperlink */
        text-decoration: none;
        text-align: center;
        color: var(--accentColor);
    }
    /* -homepage- about div */
    
    .about h2 {
        font-size: 2rem;
    }
    /* -homepage- about pic div */
    
    .about.pic img {}
    /* -homepage- about div with words */
    
    .about p {}
    /* -homepage- events div with words */
    
    .events img {}
    /* -homepage- feedback div with pic */
    
    .feedback img {}
    /* -homepage- feed back with words */
    
    .feedback p {}
    /* footer */
    
    footer {
        background-color: var(--footerTopBG);
        display: grid;
        grid-column: 1 / 12;
        grid-row: 9 / 12;
        font-size: 1.5rem;
    }
    /* address in the footer  */
    
    .address {}
    /* div for the hours in the footer */
    
    .hours {
        list-style: none;
    }
    /* copyright icon in the footer */
    
    .copyright {
        width: 75%;
        display: flex;
        margin: 1rem auto;
        text-align: center;
    }